<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>SEGS 2</string>
    <key>CFBundleExecutable</key>
    <string>segs2</string>
    <key>CFBundleIconFile</key>
    <string>segs2.icns</string>
    <key>CFBundleIdentifier</key>
    <string>eu.skywarder.segs2</string>
    <key>CFBundleName</key>
    <string>SEGS 2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
